---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 12;
---
{% set allItems = collections.posts | concat(collections.activities) %}

{# Ordina per data decrescente #}
{% set sorted = allItems | sort(attribute='date') | reverse %}

{% set postsCount = allItems | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Ultimi {{ latestPostsCount }} Articoli</h1>

{% set postslist = allItems | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>Puoi trovare {{ morePosts }} altri articoli <a href="blog.njk">nell'archivio</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
