<div class="postgrid">
  {%- for post in postslist | reverse %}
    <article class="postgrid-item{% if post.url == url %} postgrid-item-active{% endif %}">
      <a href="{{ post.url }}">
        {% if post.data.feature_image %}
          <img src="{{ post.url }}{{ post.data.feature_image }}" alt="Immagine in evidenza" class="postgrid-thumbnail" />
        {% endif %}
      </a>
      <div class="postgrid-content">
        <h2 class="postgrid-title">
          <a href="{{ post.url }}">{{ post.data.title or post.url }}</a>
        </h2>
        <div class="postgrid-meta">
          <span><i class="fa-solid fa-calendar-days"></i> {{ post.date | readableDate("dd MMMM yyyy") }}</span>
          {% if post.data.duration %}
            <span><i class="fa-solid fa-stopwatch"></i> {{ post.data.duration }}</span>
          {% endif %}
        </div>
        {% set types = post.data.trainingTypes or [] %}
        {% set feels = post.data.trainingFeelings or [] %}
        {% set len_types = types | length %}
        {% set len_feels = feels | length %}
        {% set minlen = len_types if len_types < len_feels else len_feels %}
        {% if minlen > 0 %}
          <div class="postgrid-emoji">
            <i class="fa-solid fa-running"></i>
            {% for i in range(0, minlen - 1) %}
              {{ types[i] }}{{ feels[i] }}{% if not loop.last %} &middot; {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="postgrid-excerpt">
          {{ post.templateContent | excerpt | safe }}
        </div>
      </div>
      <div class="postgrid-footer">
        <a href="{{ post.url }}" class="postgrid-readmore">Leggi di più &rarr;</a>
      </div>
    </article>
  {%- endfor %}
</div>
